{% extends 'base.html' %}

<!---->
{% block title %} Accounts {% endblock title %}
<!---->
{% block content %}
<main class="mx-auto max-w-4xl">
  <div>
    <h1
      class="my-6 text-center text-4xl font-bold text-slate-900 dark:text-white sm:text-5xl"
    >
      Signup
    </h1>
    <div class="flex justify-center lg:block lg:justify-left">
      <form
        method="post"
        class="items-left mx-auto flex max-w-4xl flex-col gap-4 text-2xl sm:text-3xl"
      >
        {% csrf_token %}
        <label for="username">Username:</label>
        <!--not sure about ID-->
        <input
          type="text"
          id="username"
          name="username"
          required
          minlength="3"
          maxlength="60"
          placeholder="Your Username"
          class="min-w-[240px] w-1/3 rounded-xl border border-solid border-slate-900 p-3 text-2xl text-black dark:border-none sm:text-3xl"
        />
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          minlength="3"
          maxlength="60"
          placeholder="Your Password"
          class="min-w-[240px] w-1/3 rounded-xl border border-solid border-slate-900 p-3 text-2xl text-black dark:border-none sm:text-3xl"
        />

        <label for="password_confirmation">Type Password Again:</label>
        <input
          type="password"
          id="password_confirmation"
          name="password_confirmation"
          required
          minlength="3"
          maxlength="60"
          placeholder="Confirm PW..."
          class="min-w-[240px] w-1/3 rounded-xl border border-solid border-slate-900 p-3 text-2xl text-black dark:border-none sm:text-3xl"
        />
        <button
          class="mt-6 w-48 rounded-xl border border-solid border-slate-900 bg-teal-700 p-3 text-white hover:bg-teal-600 active:bg-teal-500 dark:border-none"
        >
          Signup
        </button>
      </form>
    </div>
  </div>
</main>
{% endblock content %}
