{% load static tailwind_tags %}
<!--NECESSARY?? yes.-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    {% tailwind_css %}
    <script src="{% static '/js/main.js' %}" defer></script>
  </head>

  <body class="min-h-screen bg-slate-50 dark:bg-black dark:text-white">
    <header class="sticky top-0 z-10 bg-teal-700 text-white">
      <section class="mx-auto flex max-w-4xl items-center justify-between p-4">
        <h1 class="text-3xl font-medium">
          <a href="#some-top-anchor">🗒️ Jonny's Tasks</a>
        </h1>
        <div>
          <button
            id="hamburger-button"
            class="relative h-8 w-8 cursor-pointer text-3xl md:hidden"
          >
            <!-- &#9776; -->
            <div
              class="absolute top-4 -mt-0.5 h-1 w-8 rounded bg-white transition-all duration-500 before:absolute before:h-1 before:w-8 before:-translate-x-4 before:-translate-y-3 before:rounded before:bg-white before:transition-all before:duration-500 before:content-[''] after:absolute after:h-1 after:w-8 after:-translate-x-4 after:translate-y-3 after:rounded after:bg-white after:transition-all after:duration-500 after:content-['']"
            ></div>
          </button>
          <nav class="hidden space-x-8 text-xl sm:block" aria-label="main">
            {% if user.is_authenticated %}
            <a href="{% url 'show_my_tasks' %}" class="hover:opacity-90"
              >My tasks</a
            >
            <a href="{% url 'list_projects' %}" class="hover:opacity-90"
              >My projects</a
            >
            <a href="{% url 'logout' %}" class="hover:opacity-90">Logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="hover:opacity-90">Login</a>
            <a href="{% url 'signup' %}" class="hover:opacity-90">Signup</a>
            {% endif %}
          </nav>
        </div>
      </section>
      <section
        id="mobile-menu"
        class="top-68 justify-content-center absolute hidden w-full origin-top animate-open-menu flex-col bg-black text-5xl"
      >
        <!-- <button class="text-8xl self-end px-6">
        &times;
    </button> -->
        <nav
          class="flex min-h-screen flex-col items-center py-8"
          aria-label="mobile"
        >
          {% if user.is_authenticated %}
          <a
            href="{% url 'show_my_tasks' %}"
            class="w-full py-6 text-center hover:opacity-90"
            >My tasks</a
          >
          <a
            href="{% url 'list_projects' %}"
            class="w-full py-6 text-center hover:opacity-90"
            >My projects</a
          >
          <a
            href="{% url 'logout' %}"
            class="w-full py-6 text-center hover:opacity-90"
            >Logout</a
          >
          {% else %}
          <a
            href="{% url 'login' %}"
            class="w-full py-6 text-center hover:opacity-90"
            >Login</a
          >
          <a
            href="{% url 'signup' %}"
            class="w-full py-6 text-center hover:opacity-90"
            >Signup</a
          >
          {% endif %}
        </nav>
      </section>
    </header>
    {% block content %} {% endblock content %}
    <footer
      id="footer"
      class="lg:absolute sm:static bottom-0 left-0 right-0 mt-8 bg-teal-700 text-xl text-white"
    >
      <section
        class="mx-auto flex max-w-4xl flex-col p-4 sm:flex-row sm:justify-between"
      >
        <address>
          <h2>Blazer's Task-Managers, Inc.</h2>
          555 Planner Way<br />
          Fairfield, New Jersey 12345-5555<br />
          Email:
          <a href="mailto:inquiries@acmerockets.com"
            >Inquiries@BlazersTasks.com</a
          ><br />
          Phone: <a href="tel:+15555555555">(555) 555-5555</a>
        </address>
        <nav class="hidden flex-col gap-2 md:flex" aria-label="footer">
          <a
            href="{% url 'create_project' %}"
            class="hover:opacity-90 text-indigo-700 dark:text-indigo-300"
            >Create Project</a
          >
          <a
            href="{% url 'create_task' %}"
            class="hover:opacity-90 text-indigo-700 dark:text-indigo-300"
            >Create Task</a
          >
          <a
            href="{% url 'logout' %}"
            class="hover:opacity-90 text-indigo-700 dark:text-indigo-300"
            >Logout</a
          >
        </nav>
        <div class="flex flex-col sm:gap-2">
          <p class="text-right">Copyright &copy; <span id="year">2023</span></p>
          <p class="text-right">All Rights Reserved</p>
        </div>
      </section>
    </footer>
  </body>
</html>
