{% extends 'base.html' %}

<!---->
{% block title %} Projects {% endblock title %}
<!---->
{% block content %}
<main class="mx-auto max-w-4xl">
  <div
    class="widescreen:section-min-height tallscreen:section-min-height mb-12 scroll-mt-40 items-center justify-center gap-8 p-3"
  >
    <h1
      class="my-6 text-left text-4xl font-bold text-slate-900 dark:text-white sm:text-5xl"
    >
      Create a new project
    </h1>
    {% for error in errors %}
    <p>{{error}} ERROR!</p>
    {% endfor %}
    <form
      autocomplete="off"
      method="post"
      class="items-left mx-auto flex max-w-4xl flex-col gap-4 text-2xl sm:text-3xl"
    >
      {% csrf_token %}

      <input
        autocomplete="false"
        name="hidden"
        type="text"
        style="display: none"
      />

      <label for="name">Name:</label>
      <!--not sure about ID-->
      <input
        type="text"
        id="name"
        name="name"
        required
        minlength="3"
        maxlength="60"
        placeholder="Project Name"
        class="min-w-[240px] w-1/3 rounded-xl border border-solid border-slate-900 p-3 text-xl text-black dark:border-none sm:text-3xl"
      />
      <label for="Description">Description:</label>
      <textarea
        type="text"
        id="description"
        name="description"
        cols="30"
        rows="10"
        required
        placeholder="Tell us about your project..."
        class="min-w-[240px] w-1/3 rounded-xl border border-solid border-slate-900 p-3 text-sm text-black dark:border-none sm:text-sm"
      ></textarea>
      <label for="id_owner">Owner:</label>
      <div class="mt-1">
        <select
          name="owner"
          id="id_owner"
          required
          class="appearance-none min-w-[240px] w-1/3 rounded-xl border border-solid border-slate-900 p-3 text-xl text-black dark:border-none sm:text-3xl"
        >
          <option>Please select</option>
          {% for owner in users %}
          <option value="{{ owner.pk }}">{{ owner.username }}</option>
          {% endfor %}
        </select>
      </div>

      <button
        class="mt-6 w-48 rounded-xl border border-solid border-slate-900 bg-teal-700 p-3 text-white hover:bg-teal-600 active:bg-teal-500 dark:border-none"
      >
        Create
      </button>
    </form>
  </div>
</main>
{% endblock content %}
