{% extends 'base.html' %}

<!---->
{% block title %} Tasks {% endblock title %}

<!---->
{% block content %}
<main class="mx-auto max-w-4xl">
  <div
    class="widescreen:section-min-height tallscreen:section-min-height mb-12 scroll-mt-40 items-center justify-center gap-8 p-3"
  >
    <h1
      class="my-6 text-left text-3xl font-bold text-slate-900 dark:text-white sm:text-5xl"
    >
      Create a new task
    </h1>
    <form
      method="post"
      class="items-left mx-auto flex max-w-4xl flex-col gap-4 text-l sm:text-3xl"
    >
      {% csrf_token %}

      <input
        autocomplete="false"
        name="hidden"
        type="text"
        style="display: none"
      />
      <label for="name">Name:</label>
      <!--not sure about ID-->
      <input
        type="text"
        id="name"
        name="name"
        required
        minlength="3"
        maxlength="60"
        placeholder="Task Name"
        class="min-w-[240px] w-1/3 rounded-xl border border-solid border-slate-900 p-1.5 text-l text-black dark:border-none sm:text-3xl"
      />
      <label for="start_date">Start date:</label>
      <!--not sure about ID-->
      <input
        type="date"
        id="start_date"
        name="start_date"
        required
        class="min-w-[240px] w-1/3 rounded-xl border border-solid border-slate-900 p-1.5 text-l text-black dark:border-none sm:text-3xl"
      />
      <label for="due_date">Due date:</label>
      <!--not sure about ID-->
      <input
        type="date"
        id="due_date"
        name="due_date"
        required
        class="min-w-[240px] w-1/3 rounded-xl border border-solid border-slate-900 p-1.5 text-l text-black dark:border-none sm:text-3xl"
      />
      <label for="project">Project:</label>
      <div class="mt-1">
        <select
          name="project"
          id="project"
          required
          class="appearance-none min-w-[240px] w-1/3 rounded-xl border border-solid border-slate-900 p-1.5 text-l text-black dark:border-none sm:text-3xl"
        >
          <option>Please select</option>
          {% for project in projects %}
          <option value="{{ project.pk }}">{{ project.name }}</option>
          {% endfor %}
        </select>
      </div>
      <label for="assignee">assignee:</label>
      <div class="mt-1">
        <select
          name="assignee"
          id="assignee"
          required
          class="appearance-none min-w-[240px] w-1/3 rounded-xl border border-solid border-slate-900 p-1.5 text-l text-black dark:border-none sm:text-3xl"
        >
          <option>Please select</option>
          {% for assignee in assignees %}
          <option value="{{ assignee.pk }}">{{ assignee.username }}</option>
          {% endfor %}
        </select>
      </div>
      <label for="is_completed">Is completed?</label>
      <input type="checkbox" id="is_completed" name="is_completed" />
      <button
        class="mt-6 w-48 rounded-xl border border-solid border-slate-900 bg-teal-700 p-1.5 text-white hover:bg-teal-600 active:bg-teal-500 dark:border-none"
      >
        Create
      </button>
    </form>
  </div>
</main>
{% endblock content %} {% comment %} {% block content %}
<main class="mx-auto max-w-4xl">
  <div>
    <h1>Create a new task</h1>
    <form method="post">
      {% csrf_token %}{{ form.as_p }}
      <button>Create</button>
    </form>
  </div>
</main>
{% endblock content %} {% endcomment %}
