{% extends 'base.html' %}

<!---->
{% block content %}
<!---->
<main class="mx-auto max-w-4xl">
  <div
    class="widescreen:section-min-height tallscreen:section-min-height mb-12 scroll-mt-40 items-center justify-center gap-8 p-3"
  >
    <h1 class="text-3xl font-medium">My Projects</h1>
    <p>
      <a
        href="{% url 'create_project' %}"
        class="text-indigo-700 dark:text-indigo-300"
        >Create a new project ⬅️</a
      >
    </p>
    {% if project_list|length == 0 %}
    <div class="py-8 items-center justify-center text-center">
    <p><h1 class="text-2xl font-medium">You are not assigned to any projects!</h1></p>
    </div>
    <!---->
    {% else %}
    <table class="table-auto max-w-[80%] mt-4">
      <thead class="bg-gray-50 border-b-2 border-gray-200 dark:bg-black">
        <tr>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">
            Name
            <!--<hr class="mb-2">-->
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">
            Number of tasks
            <!--<hr class="mb-2">-->
          </th>
        </tr>
      </thead>

      <tbody>
        {% for project in project_list %}
        <tr>
          <td class="p-3 text-sm text-gray-700">
            <a
              href="{% url 'show_project' project.id %}"
              class="dark:text-teal-500 hover:text-indigo-700 dark:hover:text-indigo-300" class="font-bold text-blue-500 hover:underline"
              >☦  {{ project.name }}</a
            >
          </td>
          <td class="p-6 text-sm text-gray-700 dark: dark:text-indigo-500">{{ project.tasks.all|length }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</main>

{% endblock content %}
