{% extends 'base.html' %}

<!---->
{% block title %} Projects {% endblock title %}
<!---->
{% block content %}
<main class="mx-auto max-w-4xl">
  <div
    class="widescreen:section-min-height tallscreen:section-min-height mb-12 scroll-mt-40 items-center justify-center gap-8 p-3"
  >
    <h1 class="text-3xl font-medium">{{ this_project.name }}</h1>
    <hr />
    <!--STYLE THIS, DUMMY!-->
    <p class="p-3 text-slate-500">{{ this_project.description }}</p>
    <h2 class="text-2xl font-medium">Tasks</h2>
    <!--STYLE???-->
    <p>
      <a
        href="{% url 'create_task' %}"
        class="p-3 text-indigo-700 dark:text-indigo-300 hover:opacity-90"
        >Create a new task ⬅️</a
      >
    </p>
    {% if this_project.tasks.all|length > 0 %}
    <table class="table-auto max-w-[80%] mt-4">
      <thead class="bg-gray-50 border-b-2 border-gray-200 dark:bg-black">
        <tr>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">
            Name
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">
            Assignee
          </th>
          <th
            class="max-md:hidden p-3 text-sm font-semibold tracking-wide text-left"
          >
            Start date
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">
            Due<span class="hidden sm:block"> date</span>
          </th>
          <th
            class="max-md:hidden p-3 text-sm font-semibold tracking-wide text-left"
          >
            Is completed
          </th>
        </tr>
      </thead>
      <tbody>
        {% for task in this_project.tasks.all %}
        <tr>
          {% if task.is_completed %}
          <td class="p-3 text-sm text-gray-700 dark:text-gray-200"><div class="p-1.5 bg-teal-600 rounded-lg sm:dark:bg-black sm:bg-slate-50 bg-opacity-50">
            {{ task.name }}</div>
          </td>
          {% else %}
          <td class="p-3 text-sm text-gray-700 dark:text-gray-200"><div class="p-1.5 bg-orange-600 rounded-lg sm:dark:bg-black sm:bg-slate-50 bg-opacity-50">
            {{ task.name }}
          </td></span>
          {% endif %}
          <td class="p-3 text-sm text-gray-700 dark:text-gray-200">
            {{ task.assignee }}
          </td>
          <td
            class="max-sm:hidden p-3 text-sm text-gray-700 dark:text-gray-200"
          >
            {{ task.start_date|date:"n/j/y" }}
          </td>
          <td class="p-3 text-sm text-gray-700 dark:text-gray-200">
            {{ task.due_date|date:"n/j/y" }}
          </td>
          <td
            class="max-sm:hidden p-3 text-sm text-gray-700 dark:text-gray-200"
          >
            {{ task.is_completed|yesno }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="p-3 text-slate-500">This project has no tasks</p>
    {% endif %}
  </div>
</main>
{% endblock content %}
