{% extends 'base.html' %}

<!---->
{% block content %}
<!---->
<main class="mx-auto max-w-4xl">
  <div
    class="widescreen:section-min-height tallscreen:section-min-height mb-12 scroll-mt-40 items-center justify-center gap-8 p-3"
  >
    <h1 class="text-3xl font-medium">My Tasks</h1>
    {% if my_tasks|length == 0 %}
    <p class="p-3 text-slate-500">You have no tasks</p>
    <!---->
    {% else %}
    <table class="table-auto max-w-[80%] mt-4">
      <thead class="bg-gray-50 border-b-2 border-gray-200 dark:bg-black">
        <tr>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">
            Name
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">
            Start date
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">
            Due date
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">
            Is completed
          </th>
        </tr>
      </thead>
      <tbody>
        {% for task in my_tasks %}
        <tr>
          <td class="p-3 text-sm text-gray-700 dark:text-gray-200">
            {{ task.name }}
          </td>
          <td class="p-3 text-sm text-gray-700 dark:text-gray-200">
            {{ task.start_date|date:"n/j/y" }}
          </td>
          <td class="p-3 text-sm text-gray-700 dark:text-gray-200">
            {{ task.due_date|date:"n/j/y" }}
          </td>
          <td class="p-3 text-sm text-gray-700 dark:text-gray-200">
            {{ task.is_complete|yesno }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
  {% endblock content %}
</main>
